@font-face {
  font-family:"Montserrat" ;
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Montserrat,sans-serif;
  list-style: none;
}
button{
  background: none;
  outline: none;
  border: 1px solid whitesmoke;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: .4s ease;
  cursor: pointer;
}
button:hover{
  color: black;
  background: whitesmoke;
}
a{
  text-decoration: none;
}
body{
  margin: 0 auto;
  text-align: center;

}
nav{
  max-width: 1100px;
  margin: 0 auto;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
nav li{
  text-transform: uppercase;
  font-weight:900 ;
  font-size: .9rem;
  cursor: pointer; 
  position: relative;
  transition: .3s ease;
  padding: 20px 0;
}
nav li:first-child{
  color: rgb(95,4,170);
 
}
nav li:first-child::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background:rgb(95,4,170) ;
  transform: translateY(-20px);
}
nav li:hover::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background:rgb(95,4,170) ;
  transform: translateY(-20px);
}
nav li:last-child:before{
background: none;
}
#language{
  background: rgba(128,128,128,.25);
  border-radius: 50px;
  padding: 8px 16px;

}
.main-header{
background: url("./assets/img/bg.jpg")
fixed center/cover;
color: white;
padding: 60px;
}
h1{
  text-transform: uppercase;
  font-size:1.5rem;
  font-weight: 700;
  margin:30px 0 35px ;
}
.main-header button{
  padding:15px 30px ;
  letter-spacing: 2px;
}
.main-header i{
  transform: translateX(5px);/*pour decaler l'icon*/
}
.header-text{
  padding:45px 0 ;
  max-width: 1100px;
  font-size: 1.2rem;
  line-height: 34px;
  margin: 0 auto;
}
.icon-part{
  background: rgb(15,15,15);
  padding: 65px 0;
  color: whitesmoke;
}
.icon-part-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.lip-logo{
  margin-bottom: 30px;
}
.icon-part h3{
  text-transform: uppercase;
  font-weight: 700;
}
.icon-part p{
  width: 80%;
  margin: 10px auto 20px;
}
.icon-part button{
  padding:9px 32px ;
}
.news-part{
  background: whitesmoke;
  padding: 80px 0 45px;
}
.header-news{
  display: grid;
  grid-template: 70% 30%;
  max-width: 1000px;
  margin: 0 auto;
}
.left-part{
  line-height: 30px;
}
.left-part h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
}
.left-part p{
  font-weight:600 ;
  font-size: .9rem;
  text-align: left;
}
.right-part {
  text-align: right;
}

.right-part button{
  color:#000 ;
  border-color: black;
letter-spacing: 1px;
padding: 10px 20px;
}
.right-part button:hover{
  color: whitesmoke;
  background: rgba(0,0,0,.9);
}
.main-news-container{
  display: flex;
 justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
.main-news-container >div{
  position: relative;
  max-width: 23%;
}
.mn-pic img{
  object-fit: cover;/* permet de ne pas deformer les images importer depuis html*/
  width:100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px #888;
}
.main-news-container h4{
  margin: 15px 0;
  text-align: left;
}
.main-news-container p{
  text-align: left;
  font-size: .8rem;
  line-height: 20px;
  margin-bottom: 45px;
}
.link{
  position: relative;
  text-align: left;
  bottom: 0;
}
.main-news a{
  text-transform: uppercase;
  color:rgb(95,4,170) ;
  tab-size: .7rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.main-news a:hover{
  color: rgb(180,180,1);
}
.header-news i{
  transform: translateX(5px);
}
.contact{
  padding: 65px 0 25px;
  max-width: 1100px;
  margin: 0 auto;
}
.contact-list{
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  position: relative;
}
.contact-list::after{
  content: "";
  position: absolute;
  width:80% ;
  height: 5px;
  background:rgb(235,235,235) ;
  bottom: -28px;
} 
.contact-list .list{
  text-align: left;
  width: 24%;
}
#contact-img img{
  text-align: center;
}
.contact-list .list h5{
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 15px;
}
.infos-p li{
  margin: 15px 0;
}
.list p{
  line-height: 22px;
  margin-bottom: 15px;
}
.list h6{
  font-size: .8rem;
  margin-bottom: 8px;
}
.list .network{
  margin: 20px 0 8px;
}
.footer-logo i{
  font-size: .8rem;
  margin: 0 12px 30px 0;
}
.copyright{
  margin: 0;
}
.contact-medias{
  padding: 60px 0 15px;
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.medias-text{
  text-align: left;
  width: 30%;
}
.medias-text h3{
  text-transform: uppercase;
  font-size: .9rem;
  margin-bottom: 12px;
}
.medias-text p{
  font-size: .8rem;
}
.medias-logos{
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.medias-logos img{
  width: 60px;
}
footer{
  background: rgb(15,15,15);
  color: whitesmoke;
  padding: 25px;
}
footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}
footer ul{
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}
/* ********************** meias queries******************* */
@media screen and (max-width:895px){
  nav li{
    font-size: .7rem;
  }
  .main-header img{
    width: 60%;
  }
  .contact-list .list{
    padding-left: 15px;
  }
  .medias-logos{
    width: 40px;
  }
  footer ul{
    flex-wrap: wrap;
  }
  footer li{
    margin: 5px;
  }
}
@media screen and (max-width:705px){
  nav li{
    display: none;
  }
  .contact{
    display: none;
  }
  .icon-part-container{
    display: block;
  }
  .icon-part{
    padding: 0 0 30px;
  }
  .list-icon-part{
    margin-top: 40px;
  }
  
  .main-news-container{
    display: block;
  }
  .main-news-container div{
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-top: 58px;

  }
  .main-news-container img{
    width: 50%;
  }
}